@font-face {
    font-family: 'herr_von_muellerhoffregular';
    src: url('../assets/fonts/herrvonmuellerhoff-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/herrvonmuellerhoff-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto-regular-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}


* {
	margin:0px;
	padding:0px;
}





#page{
	display:none;
	box-sizing:border-box;
	padding:12px;
	font-family:Roboto,sans-serif;
	
	
}



@media screen and (min-height: 684px){
    
}

a{
	text-decoration:none;
	text-align:center;
	outline:none;
	color:white;
}


#header{
position: fixed;
width: 100%;
left: 0;
top: 0;
background-image: url(../assets/images/img3.png);
padding-top: 70px;
padding-bottom: 25px;
opacity:1;
display:block;
z-index:30;


}

#header #innercontent ul {
    list-style-type: none;
    overflow: hidden;
}

#header  #innercontent ul li {
    float: left;
	
}




.mainlink {
    text-decoration: none;
    color: #85171a;
    position: absolute;
    width: 193px;
    height: 45px;
    text-align: center;
    background-image: url(../assets/images/img4.png);
    line-height: 46px;
    font-size: 26px;

}

.mainlink:hover{
	
	color:#fff;
background: url(../assets/images/img4.png) 0px 45px;
	
}

li #link1 {
	left:50%;
	margin-left:-472px;
	top:24px;
	
}

li  #link2 {
	left:50%;
	margin-left:-276px;
	top:24px;
	
}


li #link3 {
	
	position: absolute;
	text-align: center;
	left:50%;
	margin-left:-80px;
	top:0px;
	
}

li #link4 {
	left:50%;
	margin-left:80px;
	top:24px;
	
}

li #link5 {
	left:50%;
	margin-left:280px;
	top:24px;
	cursor:pointer;
	
}


li #linkw {
	left:50%;
	margin-left:280px;
	top:24px;
	cursor:pointer;
	
}


/* Menu signin*/
#box-signin {
    list-style: outside none none;
    width: 186px;
    right: 79px;
    border-radius: 20px;
    position: absolute;
    top: 98px;
    z-index: 100;
    background-color: #FFF;
    display: none;
    overflow: hidden;
    box-shadow: 0px 0px 29px rgba(46, 46, 46, 0.29);
}

#box-signin li{
    float: left;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

#box-signin a {
    text-align: left;
    margin: 3px 0px 3px 16px;
    display: block;
    color: inherit;
    outline: medium none;
    text-decoration: none;
	cursor:pointer;
}

#box-signin li:hover{
	color: #85171a;
}

#box-signin i {
    padding-right: 5px;
    margin: auto;
    border:medium none;
}


.icon-link img{
margin: 14px 0px 0px 12px;
float: left;
margin-top: 15px !important;
border: medium none;
}


.icon-link{
top: 24px;
transition: top 0.5s ease 0s;
background-position: center bottom !important;
right: 8%;
margin-left: -416px;
    background-image: url("../assets/images/img28.png");
    width: 46px;
    height: 45px;
    display: block;
    position: absolute;
    cursor:pointer;
}

.ng-hide{
display:none !important;	
	
}



.bgimg1{
	position:relative;
    /* The image used */
    background-image: url("../assets/images/img11.jpg");
    height:40vh;
    /* Set a specific height */
    min-height: 200px;
	top:20vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
	
}

#headerbox{
	position:absolute;
	 top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em;
	text-align:center;
}
   
.headline {
    position: relative;
    font-family: "herr_von_muellerhoffregular",Palatino,serif;
    font-size: 100px;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: none;
    padding: 0 72px;
    margin: 0 -72px;
    color: #c59d5f;
}    




.sign-up-btn{
	
    border-radius: 6px;
    background: #323232;
    font-size: 12px;
    line-height: 50px !important;
    color: #fff;	
	text-transform: uppercase;
	height: 50px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;
    cursor:pointer;
}


.col-sm-6{
	width: 50%;
	float:left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
	
}

.facebook-btn{
    line-height: 50px !important;
    background: #3b5999;
    color: #fff;
    padding: 0 34px;
	border-radius: 6px;
	display: block;
    width: 100%;
	margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
     border: 1px solid transparent;
     cursor:pointer;
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}











/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -75px 0 0 -75px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid black;
  
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.footer{
    background-image: url(../assets/images/img20.jpg);
    color: white;
	display:inline-block;
	width:100%;
	position:absolute;
	top:2000px;
	
	
	
}

.Footerbutton1 {
    background-color: white;
    border: 1px solid #5A1A0C;
    border-radius: 25px;
    color: #3b5998;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

.Footerbutton2 {
    background-color: white;
    border: 1px solid #5A1A0C;
    border-radius: 25px;
    color: #FF0202;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.Footerbutton3 {
    background-color: white; 
    border: 1px solid #5A1A0C;
    border-radius: 25px;
    color: #00aced;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.footercontent{
	margin:0 auto;
	width:80%;
	margin-top:2%;
	margin-bottom:2%;
	
}
.col{
	
	float:left;
	width:25%;
	min-height:1px;
	margin-bottom:5%;
	margin-top:5%;
}



.container{


 position:absolute;
 top:60vh;
	
  width: 90vw;
 
}

.space-50 {
    width: 100%;
    height: 50px;

}


.space-20 {
    width: 100%;
    height: 20px;
}

.space-10 {
    width: 100%;
    height: 10px;
}

.hr {
        width:100%;
        margin: 20px auto;
        border-top: 1px solid #E2E2E2;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: #E2E2E2;
}

.bolder {
    font-weight: 700;
    font-size: 16px;
}

p {
    margin: 0px 0px 10px;
}

.ul {
    margin: 20px 0px;
    padding: 0px 20px;
    color: #6B6B6B;
}

.color {
    color: #6B6B6B;
}

.container {
    margin-right: auto;
    margin-left:  auto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}

.section{

padding:30px;
}
#food{
	  background-image: url("../assets/images/food.png");
    background-repeat: repeat-x;
	animation: lol 10s linear infinite;
	position: fixed;
	bottom: 0%;
	left: 0;
	display: block;
	width:100%;
	height: 64px;
	/*opacity:0.2;*/
}
	



@keyframes lol {
	from { background-position: 0 0; }
	to {   background-position: -500px 0px; }
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top:50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    box-shadow: none;
    border-radius: 6px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
	width:600px;
	border: 1px solid #d4d4d4;
	
}

#sign-up-button{

cursor:pointer;
}

#sign-in-button{

cursor:pointer;
}

.panel-signin {padding: 2px 16px;}





.modal-content .panel-signin h2{
	
	text-align: center;
	font-weight: 300;
	    font-size: 30px;
}

.modalinput {
    border: none;
    outline: 0;
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    background: 0 0;
    z-index: 2;
    border-bottom: 1px solid #e2e2e2;
    line-height: 70px;
	font-size:14px;
	height:50px;
	margin: 0;
	padding: 0;
	width: 100%;
	font:inherit;
	color:inherit;
}

.panel-signin .floating-placeholder label {
    display: block;
    position: absolute;
    top: 5px;
    font-weight: 400;
    font-size: 14px;
    z-index: 1;
    transform-origin: 0 0;
    transition: transform 190ms,color .2s;
    transform: scale(1,1) rotateY(0);
    color: #ccc;
	max-width:100%;
	margin-bottom:5px;
	
}

.error-text {
    color: #dd4c39;
    font-size: 11px;
	/*display:none !important;*/
}


.pull-left {
    float: left;
	text-align: left;
	font-size: 14px;
	color: #323232;
}


.css-checkbox[type="checkbox"] {
    position: absolute;
    
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
	font-size: 14px;
	line-height: 60px;
	font-weight:400;
}

.css-label {
    background-position: 0 -18px;
	padding-left: 35px;
	height: 18px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	font-size: 13px;
	vertical-align: middle;
	cursor: pointer;
	font-weight: 400;
	color: #aeaeae;
	background-image: url("assets/images/img24.png") !important;
}

.pull-right {
    float: right !important;
	text-align: right;
	font-size: 14px;
    color: #323232;

}

.pull-right a{
	
	color: #6b6b6b;
text-decoration: none;
font-size: 12px;
	
}


.pull-right a:hover {
    color: #2493da;
}


.col-sm-12{
	
	width: 100%;
	float:left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}


.or {
    font-size: 16px;
	font-style:italic;
	text-align:center;
	
}

.sign-up-btn{
	
    border-radius: 6px;
    background: #323232;
    font-size: 12px;
    line-height: 50px !important;
    color: #fff;	
	text-transform: uppercase;
	height: 50px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;
    cursor:pointer;
}


.col-sm-6{
	width: 50%;
	float:left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
	
}

.facebook-btn{
    line-height: 50px !important;
    background: #3b5999;
    color: #fff;
    padding: 0 34px;
	border-radius: 6px;
	display: block;
    width: 100%;
	margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
     border: 1px solid transparent;
     cursor:pointer;
}

.google-btn{
    line-height: 50px !important;
    background: #dd4c39;
    color: #fff;
    padding: 0 34px;
	border-radius: 6px;
	display: block;
    width: 100%;
	margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
     border: 1px solid transparent;
     cursor:pointer;
}





/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 21px;
    font-weight: bold;
	background: 0 0;
	border: 0;
	padding:0;
	position:absolute;
	float:right;
	right: 30px;
	top: 30px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.panel-signin .floating-placeholder {
    position: relative;
    font-size: 14px;
    line-height: 60px;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 400;

}

.clearfix::before{
display: table;
content: " ";
}

.clearfix::after{
clear:both;
display: table;
content: " ";
}

.space-15 {
	width: 100%;
	height: 15px;
	margin: 0 auto;
}

.space-20{

    width: 100%;
    height: 20px;
	margin:0 auto;
	
}

.space-50 {
    width: 100%;
    height: 50px;
	margin:0 auto;
}

.col-sm-12{
	
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}


.panel-signin .new-member {
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    font-weight: 300;
    color: #9b9b9b;
    padding: 30px 0;
    margin-bottom: 30px;
	text-align:center;
}


.panel-signin p{
    font-size: 14px;
    color: #6b6b6b;
    text-align: center;
    padding: 2px 0 0;
    margin: 0;
	font-style:italic;
}

.panel-signin .new-member a {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
	color: #2493da;
}

