@font-face {
    font-family: 'herr_von_muellerhoffregular';
    src: url("../assets/fonts/herrvonmuellerhoff-regular-webfont.woff2") format('woff2'),
         url("../assets/fonts/herrvonmuellerhoff-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto-regular-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}


* {
	margin:0px;
	padding:0px;
}





#page{
	display:none;
	box-sizing:border-box;
	padding:12px;
	font-family:Roboto,sans-serif;
	
}



@media screen and (min-height: 684px){
    
}

a{
	text-decoration:none;
	text-align:center;
	outline:none;
	color:white;
}


#header{
position: fixed;
width: 100%;
left: 0;
top: 0;
background-image: url(../assets/images/img3.png);
padding-top: 70px;
padding-bottom: 25px;
opacity:1;
display:block;
z-index:30;


}

#header #innercontent ul {
    list-style-type: none;
    overflow: hidden;
}

#header  #innercontent ul li {
    float: left;
	
}




.mainlink {
    text-decoration: none;
    position: absolute;
	color:#262526;
    width: 193px;
    height: 45px;
    text-align: center;
    background-image: url(../assets/images/img4.png);
    line-height: 46px;
    font-size: 26px;

}
li #link1 {
	left:50%;
	margin-left:-472px;
	top:24px;
	
}

li  #link2 {
	left:50%;
	margin-left:-276px;
	top:24px;
	
}


li #link3 {
	
	position: absolute;
	text-align: center;
	left:50%;
	margin-left:-80px;
	top:0px;
	
}

li #link4 {
	left:50%;
	margin-left:80px;
	top:24px;
	
}

li #link5 {
	left:50%;
	margin-left:280px;
	top:24px;
	cursor:pointer;
	
}




.bgimg1{
	
	margin-top:7%;
    /* The image used */
    background-image: url("../assets/images/img11.jpg");
    height:40%;
    /* Set a specific height */
    min-height: 300px;
	margin-bottom:100px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
	
}

#headerbox{
	position:absolute;
	 top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em;
	text-align:center;
}
   
.headline {
    position: relative;
    font-size: 80px;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: none;
    padding: 0 72px;
    margin: 0 -72px;
    color: #fff;
}    




.sign-up-btn{
	
    border-radius: 6px;
    background: #323232;
    font-size: 12px;
    line-height: 50px !important;
    color: #fff;	
	text-transform: uppercase;
	height: 50px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;
    cursor:pointer;
}


.col-sm-6{
	width: 50%;
	float:left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
	
}

.facebook-btn{
    line-height: 50px !important;
    background: #3b5999;
    color: #fff;
    padding: 0 34px;
	border-radius: 6px;
	display: block;
    width: 100%;
	margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
     border: 1px solid transparent;
     cursor:pointer;
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}











/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -75px 0 0 -75px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid black;
  
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.footer{
    background-image: url(../assets/images/img20.jpg);
    color: white;
	display:inline-block;
	width:100%;
	
	
	
}

.Footerbutton1 {
    background-color: white;
    border: 1px solid #5A1A0C;
    border-radius: 25px;
    color: #3b5998;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

.Footerbutton2 {
    background-color: white;
    border: 1px solid #5A1A0C;
    border-radius: 25px;
    color: #FF0202;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.Footerbutton3 {
    background-color: white; 
    border: 1px solid #5A1A0C;
    border-radius: 25px;
    color: #00aced;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.footercontent{
	margin:0 auto;
	width:80%;
	margin-top:2%;
	margin-bottom:2%;
	
}
.col{
	
	float:left;
	width:25%;
	min-height:1px;
	margin-bottom:5%;
	margin-top:5%;
}



.section{
	
	height:auto;
	padding:20px;
	display:block;
}





.dish-img {
    margin: 0;
    background: #fff;
    box-shadow: -1px 0px 5px -2px #bdbdbd, 0px -1px 5px -2px #bdbdbd, 2px 0px 5px -2px #bdbdbd;
	position: relative;
	box-sizing: border-box;
}

.dish-img img {
    width: 100%;
    height: 236px;
   vertical-align:middle;
   }

.dish-img .dish-rating {
    position: absolute;
    right: 10px;
    top: 8px;
    color: #fff;
    border-radius: 2px;
    font-size: 13px;
    line-height: 20px;
    background: #403141;
    padding: 0 21px 0 5px;
    z-index: 2;
}
.fooddiv{
display:block;
padding: 0 22px;
margin: 0 0 45px;
width: 29.77777777%;
position: relative;
min-height: 1px;
float:left;
min-width:150px;
}

.dish-label {
    background: url(../assets/images/img12.png) repeat-x;
    font-weight: 700;
	position: absolute;
    top: 8px;
    left: -5px;
    color: #fff;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    line-height: 17px;
    height: 25px;
    z-index: 2;
    cursor: pointer;

}

.dish-label::before {
    background: url(../assets/images/img13.png) no-repeat;
	content: "";
width: 8px;
height: 25px;
position: absolute;
left: 0;
}

.dish-label::after {
    background: url(../assets/images/img14.png) no-repeat;
    content: "";
    position: absolute;
    right: -10px;
    top: 0;
    width: 10px;
    height: 25px;
}


.dish-img .dish-label span {
    margin: 0 12px;
    padding: 2px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.icon-star{


	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1.26;
}

.icon-star{
	color: #fff;
    font-size: 10px;
	position: absolute;
	right: 5px;
	top: 4px;

}



	


.dish-description p a:hover {
    color: #f17023;
}

.dish-description p a {
    color: #333;
    display: block;
}

a{
	
	text-decoration:none;
}

.dish-description {
    font-size: 16px;
    line-height: 22px;
    font-family: "proxima_nova_rgregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    box-shadow: 0 2px 5px -1px #bdbdbd;
    background: #fff;
    padding: 10px 15px 0;
}


.pull-left {
    float: left !important;
}

.icon-rupee{
font-size: 17px;
color: #212121;
margin-right: 5px;
position: relative;
top: 2px;
left: 1px;
}

.dish-price {
    margin: 0 -15px 10px;
    padding: 0 15px 10px;
}

.dish-price {
    overflow: hidden;
    color: #212121;
    font-size: 18px;
    line-height: 30px;
    margin: 0 0 10px;
    padding: 0 0 10px;
}


.dish-description .dish-price .dish-add-remove {
    overflow: hidden;
    text-align: right;
    height: 32px;
}

.rmv-btn{
    display: none;
}

.add-btn{
	
	-webkit-transition: all 0s;
	transition: all 0s;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	min-width: 91px;
	padding: 7px 14px;
	background: #f17023;
	text-transform: uppercase;
	text-align:center;
	line-height: 1.26;
	border-radius: 2px;
	border:none;
	color:#fff;

}

.lazy{
	vertical-align:middle;
	border:0;
	
}


/*Black Menu*/

.black-menu {
    background-color: #323232;
    padding: 5px 10px;
    margin: 0 auto;
    min-height: 60px;
    height: auto;
    color: #fff;
    z-index: 999 !important;

}

section{
    display: block;
}


@media only screen and (min-width:1200px){
.container {
    width: 1170px;
}
}

@media only screen and (min-width:768px){
.container {
    width: 750px;
}
}


@media only screen and (min-width:992px){
.container {
    width: 970px;
}
}

.container{
    padding-right: 15px;
    padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-right:auto;
}

.col-lg-6 {
    padding-left: 0;
    padding-right: 0;
	position:relative;
	min-height:1px;
}


@media only screen and (min-width:1200px){
.col-lg-6 {
    width: 50%;
	float:left;
}
}

@media only screen and (min-width:768px){
.col-sm-6 {
    width: 50%;
	float:left;
}
}

