@font-face {
	font-family: 'herr_von_muellerhoffregular';
    src: url('assets/fonts/herrvonmuellerhoff-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/herrvonmuellerhoff-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/roboto-regular-webfont.woff') format('woff'),
         url('assets/fonts/roboto-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}



* {
	margin:0px;
	padding:0px;
}



	
@media (min-width:768px) {
	.header  {
		right:0;
		left:auto;
		font-size:18px;
	}
	
	.mainlink{
	width: 60px;
    height: 30px;
	}
	
}
@media screen and (min-width: 684px){

    
}
	
	#page{
	display:none;
	box-sizing:border-box;
	padding:12px;
	font-family:Roboto,sans-serif;
	overflow:hidden;
	
}





a{
	text-decoration:none;
	text-align:center;
	outline:none;
	color:white;
}


#header{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 30;
	background-image: url(assets/images/img3.png);
	padding-top: 70px;
	padding-bottom: 25px;
	opacity:1;
	display:none;


}

#header #innercontent ul {
    list-style-type: none;
    overflow: hidden;
}

#header  #innercontent ul li {
    float: left;
	
}


.mainlink {
    text-decoration: none;
    color: black;
    position: absolute;
    width: 193px;
    height: 45px;
    text-align: center;
    background-image: url(assets/images/img4.png);
    line-height: 46px;
    font-size: 26px;

}
li #link1 {
	left:50%;
	margin-left:-472px;
	top:24px;
	
}

li  #link2 {
	left:50%;
	margin-left:-276px;
	top:24px;
	
}


li #link3 {
	
	position: absolute;
	text-align: center;
	left:50%;
	margin-left:-80px;
	top:0px;
	
}

li #link4 {
	left:50%;
	margin-left:80px;
	top:24px;
	
}

li #link5 {
	left:50%;
	margin-left:280px;
	top:24px;
	cursor:pointer;
	
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 40; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
	width:600px;
	height:100%;
	
}

.modal-header {
    padding: 2px 16px;
}

.modal-body {padding: 2px 16px;}





.modal-content .modal-header h2{
	
	text-align: center;
	font-weight: 300;
	    font-size: 30px;
}

.modalinput {
    border: none;
    outline: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: 0 0;
    z-index: 2;
    border-bottom: 1px solid #e2e2e2;
    line-height: 70px;
}
.col-sm-12{
	
	width: 100%;
	float:left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.sign-up-btn{
	
    border-radius: 6px;
    background: #323232;
    font-size: 12px;
    line-height: 50px !important;
    color: #fff;	
	text-transform: uppercase;
	height: 50px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;
    cursor:pointer;
}


.col-sm-6{
	width: 50%;
	float:left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
	
}

.facebook-btn{
    line-height: 50px !important;
    background: #3b5999;
    color: #fff;
    padding: 0 34px;
	border-radius: 6px;
	display: block;
    width: 100%;
	margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
     border: 1px solid transparent;
     cursor:pointer;
}

.google-btn{
    line-height: 50px !important;
    background: #dd4c39;
    color: #fff;
    padding: 0 34px;
	border-radius: 6px;
	display: block;
    width: 100%;
	margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
     border: 1px solid transparent;
     cursor:pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



.bounce{
	
	animation-name:bounce;
	animation-duration:1s;
	-webkit-animation-name:bounce;
	-webkit-animation-duration:1s;
}


@keyframes bounce {
   
0% {
	transform:translateY(-80%);
	opacity: 0;
}
5% {
  	transform:translateY(-80%);
    opacity: 0;
}
15% {
  transform:translateY(-50%);
  padding-bottom: 5px;
}
40% {
  	transform:translateY(0%);
    padding-bottom: 6px;
}
50% {
  transform:translateY(-30%);
}
70% {
    transform:translateY(0%);
    padding-bottom: 7px;
}
80% {
  transform:translateY(-15%);
}
90% {
  transform:translateY(0%);
  padding-bottom: 8px;
}
95% {
  transform:translateY(-7%);
}
97% {
  transform:translateY(0%);
  padding-bottom: 9px;
}
99% {
  transform:translateY(-3%);
}
100% {
  transform:translateY(0);
  padding-bottom: 9px;
  opacity: 1;
}
}

@-webkit-keyframes bounce {
   
0% {
	transform:translateY(-80%);
	opacity: 0;
}
5% {
  	transform:translateY(-80%);
    opacity: 0;
}
15% {
  transform:translateY(-50%);
  padding-bottom: 5px;
}
40% {
  	transform:translateY(0%);
    padding-bottom: 6px;
}
50% {
  transform:translateY(-30%);
}
70% {
    transform:translateY(0%);
    padding-bottom: 7px;
}
80% {
  transform:translateY(-15%);
}
90% {
  transform:translateY(0%);
  padding-bottom: 8px;
}
95% {
  transform:translateY(-7%);
}
97% {
  transform:translateY(0%);
  padding-bottom: 9px;
}
99% {
  transform:translateY(-3%);
}
100% {
  transform:translateY(0);
  padding-bottom: 9px;
  opacity: 1;
}
}


#scrolldown{
	background:transparent;
	 position: absolute;
	 text-align:center;
    bottom: 15px;
    left: 50%;
    margin-left: -47px;
    display: block;
	z-index: 20;
    cursor: pointer;
	color:white;
	font-family:Roboto,sans-serif;
	
}

#scrollbutton{
	position:relative;
	-webkit-animation-name: scrollmove; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: scrollmove;
    animation-duration: 1s;
    animation-iteration-count: infinite;
	
	
}
/* Chrome, Safari, Opera */
@-webkit-keyframes scrollmove {
    0%   {top:0px;}
    100% {top:10px;}
}

/* Standard syntax */
@keyframes scrollmove {
    0%   {top:0px;}
	100% {top:10px;}
}

#headerbox{
	position:absolute;
	 top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em;;
	text-align:center;
}
   
.headline {
    position: relative;
    font-family: "herr_von_muellerhoffregular",Palatino,serif;
    font-size: 100px;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: none;
    padding: 0 72px;
    margin: 0 -72px;
    color: #c59d5f;
}    

.bgimg1{
	position:relative;
    /* The image used */
    background-image: url("assets/images/img11.jpg");
    height:97vh;
    /* Set a specific height */
    min-height: 700px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
	
}



#section1{
	
	height:500px;
	background-color:white;
}

.aboutgrid{
    padding: 250px;   
	max-width: 1250px;
	margin: 0 auto;
	width:50%;
	
	
	
	
}


.aboutcode{
	color: #c59d5f;
	text-transform: uppercase;
	font-size: 15px;
	padding: 3px 0;
	border-bottom: 2px solid #c59d5f;
}
.aboutcode:hover{
	color: #262526 !important;
	border-bottom: 2px solid #262526;

	
}

.headline-secondary{
	color: #c59d5f;
	margin-bottom: -38px;
	font-family: "herr_von_muellerhoffregular",Palatino,serif;
	font-weight: normal;
	font-size:70px;
	line-height:1.7;
}


.search {
    position:absolute;
    left: 25%;
    width: 50%;
    z-index: 1;
    float: left;
    min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   margin-top:5%;
}

.search-inner{
	
	padding-left: 0;
    padding-right: 0;
	height: 55px;
    background: #fff;
    border-radius: 3px;
    width: 100%;
    position: relative;
    min-height: 1px;
}


.search-img{
	background: url("assets/images/img18.png") 10px 20px no-repeat;
    height: 55px;
    padding: 0;
    width: 8.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
	
	
}

.input-bar{
	
	padding-left: 0;
    padding-right: 0;
    width: 83.33333333%;
    float:left;
    position: relative;
    min-height: 1px;
	
	
}

.input-search{
	height: 55px;
border: none;
margin-left: 5px;
width: 85%;
	
}



.rot{
	padding: 5px; 
	float:right;
	margin-top: 8px;
	animation: spin .5s linear infinite;
}

@keyframes spin{
	100% {
		transform: rotate(360deg);
	}
}


.float-spinner{
    display: none !important;
	width: 16.66666667%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}


.padding-locate-me{
	padding-left: 0;
	padding-right: 5px !important;
	width: 15%;
	position: relative;
    min-height: 1px;
	float:left;
}

.locate-me{
	
    border: none;
    margin-left: 5px;
	margin-top:5px;
	margin-bottom:5px;
	background: #da3939;
    height: 45px;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: initial;
    width: 100%;
    color: #fff;
	font-size:11px;
    
	}
	
.padding-order-now{
	
	
	padding-left: 0;
	width: 15%;
	padding-right: 10px !important;
 	display: none;
	float: left;
    position: relative;
    min-height: 1px;
	
}


.order-now{
	
	
	border: none;
    margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: #da3939;
    height: 45px;  
    border-radius: 3px;
	cursor:pointer;
    text-transform: uppercase;
    font-weight: initial;
    width: 100%;
    color: #fff;
	font-size:11px;
}



#section2{
	
    height:400px;
	background-color:#fff;
		
}



.bgimg2, .bgimg3{
	position: relative;
	/*opacity: 0.65;*/
	opacity:1;
	background-attachment: fixed;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;

}

.bgimg2 {
  background-image: url("assets/images/img15.jpg");
  min-height: 100%;
  height:400px;

  }

.bgimg3 {
  background-image: url("assets/images/img17.jpg");
  min-height: 100%;
  height:400px;
}

#section3{
	
	height:100%;
	min-height:500px;
	font-size:36px;
	background-image: url("assets/images/img9.jpg");
}

#menutitle{
	color: black;
	
}

.menuaccord.active:after {
    content: "-";
}

.afteraccord{
	
	display:none;
	box-sizing:border-box;
	
}

.afteraccord.show {
    display:block;  
}

.menuaccord {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: block;
    width: 100%;
    font-size: 38px;
    line-height: 38px;
    padding: 14px 30px 14px 0;
    text-transform: uppercase;
    position: relative;
    color: black;
    font-family: 'Amatic SC', Georgia, "Times New Roman", Times, serif;
    font-weight: 700;
	    
	
}

.menuaccord:after
{
	content: '+';

}


/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -75px 0 0 -75px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid black;
  
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




.footer{
	background-image: url(assets/images/img20.jpg);
    color: white;
	display:inline-block;
	width:100%;
	
	
	
}

.Footerbutton1 {
    background-color: white;
    border: 1px solid #5A1A0C;
    border-radius: 25px;
    color: #3b5998;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

.Footerbutton2 {
    background-color: white;
    border: 1px solid #5A1A0C;
    border-radius: 25px;
    color: #FF0202;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.Footerbutton3 {
    background-color: white; 
    border: 1px solid #5A1A0C;
    border-radius: 25px;
    color: #00aced;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.footercontent{
	margin:0 auto;
	width:80%;
	margin-top:2%;
	margin-bottom:2%;
	
}
.col{
	
	float:left;
	width:25%;
	min-height:1px;
	margin-bottom:5%;
	margin-top:5%;
}


.video-sec {
	position: relative;
	overflow: hidden;
	padding: 0;
	display: block;
	min-height: 570px;
}


.video-item {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	overflow: hidden;

}


.container {
	width: 1156px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
}

.vc-coloumn {
	padding-left: 15px;
	padding-right: 15px;
}


.reservationtitle{
	 

	color: #d0ae5e;
	
}


.subtitle {
	color: #fff;
	letter-spacing: 4px;
	font-size: 34px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 8px;
}


.reservation-form {
	margin-bottom: 20px;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

.res-sub-form{
background: #fff;
border: 8px solid #e3e3e3;
padding: 40px 20px 10px;
}


.reservation-col{
	margin-bottom: 5px;	
	width: 25%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	min-height: 1px;
	
}


.form-wrap{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	
}

.reservation-date{
	
	color: #888;
    min-width: 190px;
	width: 100%;
	height: 48px;
	box-sizing: border-box;
	border: 1px solid #e3e3e3;
	padding: 11px 6px;
	font-size: 13px;
	font-weight: 300;
	box-shadow: 0 1px 2px rgba(0,0,0,.062) inset;
	max-width: 100%;
	min-height: 36px;
	display: block;
	margin-bottom: 20px;

}


.reservation-form input, .reservation-form select {
	width: 100%;
	height: 48px;
	box-sizing: border-box;
	border: 1px solid #e3e3e3;
	padding: 11px 6px;
	font-size: 13px;
	font-weight: 300;
	box-shadow: 0 1px 2px rgba(0,0,0,.062) inset;
}


.slides-content {
	position: relative;
	z-index: 2;
	background: transparent;
	min-height: 300px;
	text-align: center;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	display:block;
}


.reservation-form input[type="submit"]{
	width: auto;
	font-weight: bold;
	background-color: #d0ae5e;
	padding: 16px 37px;
	border: none;
	box-sizing: border-box;
	color: #fff;
}