@font-face {
    font-family: 'herr_von_muellerhoffregular';
    src: url("../assets/fonts/herrvonmuellerhoff-regular-webfont.woff2") format('woff2'),
         url("../assets/fonts/herrvonmuellerhoff-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto-regular-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}


* {
	margin:0px;
	padding:0px;
}

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



#page{
	display:none;
	box-sizing:border-box;
	padding:12px;
	font-family:Roboto,sans-serif;
	
}





a{
	text-decoration:none;
	text-align:center;
	outline:none;
	color:white;
}


#header{
position: fixed;
width: 100%;
left: 0;
top: 0;
background-image: url(../assets/images/img3.png);
padding-top: 70px;
padding-bottom: 25px;
opacity:1;
display:block;
z-index:30;


}

#header #innercontent ul {
    list-style-type: none;
    overflow: hidden;
}

#header  #innercontent ul li {
    float: left;
	
}




.mainlink {
    text-decoration: none;
    position: absolute;
	/*color:#262526;*/
	color: #85171a;
    width: 193px;
    height: 45px;
    text-align: center;
    background-image: url(../assets/images/img4.png);
    line-height: 46px;
    font-size: 26px;

}

.mainlink:hover{
	
	color:#fff;
background: url(../assets/images/img4.png) 0px 45px;
	
}

li #link1 {
	left:50%;
	margin-left:-472px;
	top:24px;
	
}

li  #link2 {
	left:50%;
	margin-left:-276px;
	top:24px;
	
}


li #link3 {
	
	position: absolute;
	text-align: center;
	left:50%;
	margin-left:-80px;
	top:0px;
	
}

li #link4 {
	left:50%;
	margin-left:80px;
	top:24px;
	
}

li #link5 {
	left:50%;
	margin-left:280px;
	top:24px;
	cursor:pointer;
	
}




.bgimg1{
	
	margin-top:7%;
    /* The image used */
    background-image: url("../assets/images/img11.jpg");
    height:40%;
    /* Set a specific height */
    min-height: 300px;
	margin-bottom:100px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
	
}

#headerbox{
	position:absolute;
	 top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em;
	text-align:center;
}
   
.headline {
    position: relative;
    font-size: 80px;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: none;
    padding: 0 72px;
    margin: 0 -72px;
    color: #fff;
}    




/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}











/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -75px 0 0 -75px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid black;
  
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.footer{
    background-image: url(../assets/images/img20.jpg);
    color: white;
	display:inline-block;
	width:100%;
	
	
	
}

.Footerbutton1 {
    background-color: white;
    border: 1px solid #5A1A0C;
    border-radius: 25px;
    color: #3b5998;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

.Footerbutton2 {
    background-color: white;
    border: 1px solid #5A1A0C;
    border-radius: 25px;
    color: #FF0202;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.Footerbutton3 {
    background-color: white; 
    border: 1px solid #5A1A0C;
    border-radius: 25px;
    color: #00aced;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.footercontent{
	margin:0 auto;
	width:80%;
	margin-top:2%;
	margin-bottom:2%;
	
}
.col{
	
	float:left;
	width:25%;
	min-height:1px;
	margin-bottom:5%;
	margin-top:5%;
}






/*Black Menu*/

.black-menu {
    background-color: #323232;
    padding: 5px 10px;
    margin: 0 auto;
    min-height: 60px;
    height: auto;
    color: #fff;
   /*z-index: 999 !important;*/

}

section{
    display: block;
}




.container{
    padding-right: 15px;
    padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-right:auto;
}

.col-lg-6 {
    padding-left: 0;
    padding-right: 0;
	position:relative;
	min-height:1px;
}


.black-menu .location-icon-white {
    background: url("../assets/images/location.svg") no-repeat;
	width: 20px;
    height: 25px;
    float: left;
    margin: 15px 20px 0 0;
}

.black-menu .location {
    width: 55%;
    border-right: 1px solid #3f3f3f;
    margin-top: 12px;
    float: left;
    line-height: 25px;
}

.locality-ellipsis {
    width: 70%;
    white-space: nowrap;
    float: left;
}
.locality-ellipsis, .location-not-proper-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}


.widthlocality {
    width: 30%;
    float: right;
}

.black-menu .edit-btn {
    background: 0 0;
    float:right;
    margin-right:10px;
    color: #fff;
    font-size: 12px;
	text-transform: uppercase;
	cursor:pointer;
	border:0;
	line-height:inherit;
	font-family:inherit;
	
}

.black-menu .filter-icon-white {
    width: 21px;
    height: 21px;
    margin: 15px 0 15px 15px;
    position: relative;
    float: left;
    color: #000;
    z-index: 3;
}

.filter-icon-white button {
    background: 0 0 !important;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
	margin:0;
	overflow:visible;
	cursor:pointer;
	font: inherit;
	color: inherit;
	
}

.dropdown-menu {
    background: rgba(255,255,255,.6);
	padding: 0;
	outline: 0;
	top: 185%;
    left: -20px;
    transition: background-color .25s ease;
	position: absolute;
	z-index: 1000;
	display: none;
	min-width: 160px;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	float:left;
}


.pull-right{
	float: right !important;
}

.black-menu .circle {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    color: #323232;
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    top: 5px;
    right: -6px;
    text-align: center;
}

.black-menu .check-out {
    background: #e13636;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 15px;
    float: right;
    margin-top: 10px;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	display:block;
	border-radius: 3px;
	font-family: inherit;
    line-height: inherit;
	
}


.price-outer {
    width: 110px;
    float: right;
}

.black-menu .price {
    width: 110px;
    height: 71px;
    position: absolute;
    top: -9px;
    right: 125px;
    background: url("../assets/images/img23.png") no-repeat;
    text-align: center;
    line-height: 65px;
    color: #323232;
    font-size: 18px;
    font-weight: 500;
	box-sizing:border-box;
}

.black-menu .input-locality-search {
    background: 0 0;
    border: none;
    border-bottom: 1px solid #585858;
    float: left;
    width: 65%;
    padding-left: 10px;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color:inherit;
	margin:0;
	
}



/*Cart begins here*/

.cart-container::before{
	display:table;
	content:"";
}

.space-50 {
    width: 100%;
    height: 50px;
	margin: 0 auto;
}



.white-container {
    background: #fff;
    margin: 0 auto;
    display: block;
    width: 85%;
    border-radius: 5px;
    box-shadow: 0 1px 4px 1px #e8e8e8;
}

.panel-group {
    margin-bottom: 20px;
}

.panel {
	margin-top:0;
    margin-bottom: 0;
    border-radius: 4px;
	border: none;
    box-shadow: 0 1px 4px 2px #e8e8e8;
}

.panel-heading {
    background-color: #fff;
    padding: 0;
	border-bottom: 0;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	box-sizing:border-box;
}

.panel-active {
    background-color: #323232 !important;
    padding: 20px 40px;
    font-size: 30px !important;
    color: #fff !important;
    font-weight: 300;
    text-transform: capitalize;
	margin-top:0;
	margin-bottom:0;
	font-family:inherit;
	line-height:1.1;
}

#pan-1{
	text-decoration: none;
	color: inherit;
	background-color: transparent;

	
}

.cart-number{
	
	background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
	 float: right;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    line-height: 20px;
    font-weight: 400;
    margin-top: 5px;
	font-size: 12px;
text-align: center;

}

.panel-collapse {
    display: block;
}

.panel-body{
	border-top: 1px solid #f2f2f2;
	padding:0;
}

.panel-body::before {
    display: table;
    content: " ";
	
}

.carttable {
    width: 93%;
    margin: 30px auto;
    height: auto;
    color: #323232;
}

.bold {
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.bx-wrapper{
max-width: 950px;
height: 100% !important;
border: none !important;
box-shadow: none !important;
position: relative;
margin: 0 auto 60px;
padding: 0;
background:#fff;
}


.bx-viewport{
	
	height: 100% !important;
	box-shadow: none !important;
	-webkit-transform: translatez(0);
}

.item{
	height:100%;
}

.ng-scope{
	
	float: left;
list-style: outside none none;
position: relative;
width: 300px;
margin-right: 25px;
}

.thumbnail-space {
    margin-bottom: 15px !important;
	cursor: auto !important;
	padding: 0;
box-shadow: 6px 6px 10px #888;
position: relative;
border-radius: 0;
line-height: 1.42857143;
background-color: #fff;
border: 1px solid #ddd;
-webkit-transition: border .2s ease-in-out;
-o-transition: border .2s ease-in-out;
transition: border .2s ease-in-out;
display: block;
}

.caption {
    position: relative;
    cursor: default;
    color: #6b6b6b;
}

.ng-binding{
margin: 0;
color: #4a4a4a;
font-weight: 500;
}

.veg {
    background: url("https://box8.in/styles/../images/veg.62b68100.png") no-repeat;
	position: absolute;
width: 16px;
height: 16px;
}

.rupee1 {
    color: #323232;
    font-size: 15px;
    line-height: 30px;
}

.pull-left {
    float: left !important;
}

.red-btn-primary{
	
background: #da3939;
padding: 4px 15px;
border: 1px solid #da3939;
color: #fff !important;
display: inline-block;
margin-bottom: 0;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
border-radius: 4px;
vertical-align: middle;
outline: 0;
}

.text-center {
    text-align: center;
}

.ng-hide {
    display: none !important;
	
}

.plus-btn-radius{
    margin: 0;
    font: inherit;
    color: inherit;
	font-family: inherit;
	font-size: inherit;
	outline: 0;
	border-radius: 3px;
	border: 1px solid #e2e2e2 !important;
	width: 21px;
	height: 21px;
	background: 0 0;
	line-height: 0;
	cursor: pointer;
}

.clearfix::before{
display: table;
content: " ";
}

.clearfix::after {
    clear: both;
	display: table;
content: " ";
}

.input-binding{
	
	width: 40px;
border: none;
text-align: center;
outline: 0;
font-family: inherit;
font-size: inherit;
line-height: inherit;
margin: 0;
font: inherit;
color: inherit;
}


.img-food{
	
	
	    max-width: 100%;
    display: block;
 margin-right: auto;
margin-left: auto;
height: auto;
border:0;
vertical-align: middle;
}


.bx-prev-disabled {
    display: none;
	z-index: 1;
	    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
 left: 10px;
background: url("../assets/images/img25.png") 0 -32px no-repeat;
}


.bx-next{
	
	z-index: 1;
	    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    right: 10px;
    background: url("../assets/images/img25.png") -43px -32px no-repeat;
}

.bx-next:hover{
	
	background-position: -43px 0;
}


	
.carttable .row {
    position: relative;
	margin-right: -15px;
margin-left: -15px;
}
	
	
	
	
.carttable .row::before {
    display: table;
    content: " ";
}


.carttable .row::after {
    clear: both;
}

.col-sm-3 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


.col-sm-2 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.space-10 {
    width: 100%;
    height: 10px;
	margin: 0 auto;
}

.padding{
	
	padding-left: 0;
margin: 0;
}


.col-sm-8{
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}

.ng-binding-heading {
    margin: 0;
    color: #4a4a4a;
    font-weight: 500;
}

.ng-binding-type{
    color: #ce2929;
    text-transform: uppercase;
    font-weight: 700;
 
}

.continue-shoping:hover {
    background: #f5f5f5;
}


.continue-shoping {
    border: 1px solid #6b6b6b !important;
    background: #fff;
    color: #323232;
	cursor: pointer;
	    padding: 13px 20px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
border-radius: 6px;
line-height: inherit;
margin: 0;
margin: 0;
/*font: inherit;*/
}

.next-step {
    background: #DA3939;
    color: #fff;
    border: 1px solid #da3939 !important;
	cursor:pointer;
	padding: 13px 20px;
font-size: 12px;
text-transform: uppercase;
text-align: center;

border-radius: 6px;
outline: 0;
font-family: inherit;
line-height: inherit;
margin: 0;
/*font: inherit;*/

}


.input-quantity{
	
	width: 40px;
border: none;
text-align: center;
	outline:0;
	font-family: inherit;
font-size: inherit;
line-height: inherit;
margin: 0;
font: inherit;
color: inherit;
}

.carttable hr {
    margin-top: 5px;
    margin-bottom: 10px;
	    border:0;
		border-top: 1px solid #eee;
		height: 0;
		box-sizing: content-box;
		
}


.col-sm-7 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.text-right {
    text-align: right;
}

.space-20 {
    width: 100%;
    height: 20px;
	margin:0 auto;
}

.carttable .rupee{
	color: #6b6b6b;
	font-size: 12px;
}

.margin {
    margin-top: 0;
}

.delete {
    position: absolute;
    right: 16px;
}

.row::after{
	
	    display: table;
    content: " ";
	clear:both;

}

.delete img{
	border: 0;
	vertical-align: middle;
}


.row::before{
	
	    display: table;
    content: " ";
	

}



#sign-up-button{

cursor:pointer;
}

#sign-in-button{

cursor:pointer;
}

.panel-signin {
	
	/*padding: 2px 16px;*/
	width: 54%;
	margin: 0 auto;
    display: block;
	}





.modal-content .panel-signin h2{
	
	text-align: center;
	font-weight: 300;
	    font-size: 30px;
}

.modalinput {
    border: none;
    outline: 0;
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    background: 0 0;
    z-index: 2;
    border-bottom: 1px solid #e2e2e2;
    line-height: 70px;
	font-size:14px;
	height:50px;
	margin: 0;
	padding: 0;
	width: 100%;
	font:inherit;
	color:inherit;
}

.panel-signin .floating-placeholder label {
    display: block;
    position: absolute;
    top: 5px;
    font-weight: 400;
    font-size: 14px;
    z-index: 1;
    transform-origin: 0 0;
    transition: transform 190ms,color .2s;
    transform: scale(1,1) rotateY(0);
    color: #ccc;
	max-width:100%;
	margin-bottom:5px;
	
}



.error-text {
    color: #dd4c39;
    font-size: 11px;
	/*display:none !important;*/
}


.pull-left {
    float: left;
	text-align: left;
	font-size: 14px;
	color: #323232;
}


.css-checkbox[type="checkbox"] {
    position: absolute;
    
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
	font-size: 14px;
	line-height: 60px;
	font-weight:400;
}

.css-label {
    background-position: 0 -36px;
	padding-left: 35px;
	height: 18px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	font-size: 13px;
	vertical-align: middle;
	cursor: pointer;
	font-weight: 400;
	color: #aeaeae;
	background-image: url("../assets/images/img24.png");
}

.pull-right {
    float: right !important;
	text-align: right;
	font-size: 14px;
    color: #323232;

}

.pull-right a{
	
	color: #6b6b6b;
text-decoration: none;
font-size: 12px;
	
}


.pull-right a:hover {
    color: #2493da;
}





.or {
    font-size: 16px;
	font-style:italic;
	text-align:center;
	
}

.sign-up-btn{
	
    border-radius: 6px;
    background: #323232;
    font-size: 12px;
    line-height: 50px !important;
    color: #fff;	
	text-transform: uppercase;
	height: 50px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;
    cursor:pointer;
}


.col-sm-6{

	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
	
}

.facebook-btn{
    line-height: 50px !important;
    background: #3b5999;
    color: #fff;
    padding: 0 34px;
	border-radius: 6px;
	display: block;
    width: 100%;
	margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
     border: 1px solid transparent;
     cursor:pointer;
}

.google-btn{
    line-height: 50px !important;
    background: #dd4c39;
    color: #fff;
    padding: 0 34px;
	border-radius: 6px;
	display: block;
    width: 100%;
	margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
     border: 1px solid transparent;
     cursor:pointer;
}





/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 21px;
    font-weight: bold;
	background: 0 0;
	border: 0;
	padding:0;
	position:absolute;
	float:right;
	right: 30px;
	top: 30px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.panel-signin .floating-placeholder {
    position: relative;
    font-size: 14px;
    line-height: 60px;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 400;

}



.space-15 {
	width: 100%;
	height: 15px;
	margin: 0 auto;
}

.space-20{

    width: 100%;
    height: 20px;
	margin:0 auto;
	
}

.space-50 {
    width: 100%;
    height: 50px;
	margin:0 auto;
}

.col-sm-12{
	
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}


.panel-signin .new-member {
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    font-weight: 300;
    color: #9b9b9b;
    padding: 30px 0;
    margin-bottom: 30px;
	text-align:center;
}


.panel-signin p{
    font-size: 14px;
    color: #6b6b6b;
    text-align: center;
    padding: 2px 0 0;
    margin: 0;
	font-style:italic;
	
}

.panel-signin .new-member a {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
	color: #2493da;
}

.panel-active {
    background-color: #323232 !important;
    padding: 20px 40px;
    font-size: 30px !important;
    color: #fff !important;
    font-weight: 300;
    text-transform: capitalize;
}

.panel-title {
  font-size: 12px;
font-weight: 700;
padding: 15px;
color: #000;
text-transform: uppercase;
margin-bottom:0px;
margin-top:0px;
font-family: inherit;
line-height:1.1;
}

.panel-title a{
	
	color:inherit;
	text-align: center;
    outline: none;
}

.panel-active {
    background-color: #323232 !important;
    padding: 20px 40px;
    font-size: 30px !important;
    color: #fff !important;
    font-weight: 300;
    text-transform: capitalize;
}

.panel-collapse{
	display:none;
}

.weight-700 {
    font-weight: 700;
    padding-left: 15px;
}

.payment-ul {
    padding: 30px 0 60px 60px;
    float: left;
    width: 100%;
}

.margin-left {
    margin-left: 10px;
}


.margin-right {
    margin-right: 10px;
}

.radius-3 {
    border-radius: 3px;
}
.btn-block {
    display: block;
    width: 100%;
}

.col-sm-5,.col-md-2,.col-md-1,.col-md-3,.col-md-6{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.center-text {
    height: 46px;
    padding-top: 11px;
}

.delivery-pad {
    padding: 30px 0 60px 60px;
    float: left;
    width: 100%;
}

.delivery-pad span{
    font-size: 12px;
    font-weight: 700;
    color: #6b6b6b;
    text-transform: uppercase;
}

.show-all-btn {
    padding: 8px 20px;
    border: 1px solid #6b6b6b !important;
    background: #fff;
    color: #323232;
    font-size: 12px;
    text-align: center;
    margin-right: 30px;
    float: right;
}

.delivery-pad li {
    margin-top: 25px;
    border-bottom: 1px solid #e2e2e2;
    line-height: 35px;
}

.ellipsis-add {
    white-space: nowrap;
}

.ellipsis-add{
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-inline {
    margin-left: -5px;
}

.list-inline{
    padding-left: 0;
    list-style: none;
}

.delivery-pad input.css-checkbox[type="radio"] {
    position: absolute;
    z-index: -1000;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.delivery-pad input.css-checkbox[type="radio"] + label.css-label {
    padding-left: 40px;
    height: 15px !important;
    display: inline-block !important;
    line-height: 15px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 400;
}

.delivery-pad label.css-label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
	background-image: url("../assets/images/img30.png");
}

.delivery-pad label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.delivery-pad .action {
    display: none;
    float: right;
    margin-right: 30px;
}

.delivery-pad li a {
    color: #aeaeae;
    text-decoration: none;
}

.delivery-pad ul {
    margin-bottom: 40px;
	    padding-left: 15px;
		margin-top:0;
}

.delivery-pad, .payment-ul {
    padding: 30px 0 60px 60px;
    float: left;
    width: 100%;
}

.payment-ul ul{
	
	
	padding-left: 15px;
	margin-bottom: 10px;
	margin-top: 0;
}

.payment-ul li {
    display: inline-block;
    width: 19%;
    margin: 20px 0;
}

.payment-ul input.css-checkbox[type="radio"] {
    position: absolute;
    z-index: -1000;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.payment-ul input.css-checkbox[type="radio"]:checked + label.css-label {
    background-position: 0 -15px;
	padding-left: 20px;
height: 15px !important;
display: inline-block !important;
line-height: 15px;
background-repeat: no-repeat;
font-size: 14px;
vertical-align: middle;
cursor: pointer;
color: #6b6b6b;
font-weight: 400;
}

.payment-ul label.css-label{
    webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
	background-image: url("../assets/images/img30.png")
}

.payment-ul label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.payment {
    color: #6b6b6b;
    font-weight: 300;
}

.yellow-bg {
    background: #fffcee;
    width: 100%;
    padding: 0;
    float: left;
    border-top: 1px solid #f1ecd4;
    border-bottom: 1px solid #f1ecd4;
}

.input-promo-coupon {
    background: url("../assets/images/gift-box.svg") 5px 4px no-repeat #fff;
    text-indent: 20px;
    border: none;
    border: 1px solid #e2e2e2;
    margin-left: 20px;
    height: 30px;
    width: 50%;
    padding-left: 10px;
	font-family:inherit;
	line-height:inherit;
}


.input-apply-btn {
    background: #323232;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 20px;
    font-weight: 400;
    margin-left: 5px;
	border:none;
}

@media only screen and (min-width:768px){
.col-sm-6 {
    width: 50%;
	float:left;
}

.container {
    width: 750px;
}

.col-sm-3{
	
	width:25%;
	float:left;
}

.col-sm-2{
width: 16.66666667%;
float:left;
}


.col-sm-8{
width: 66.66666667%;
float:left;
}

.col-sm-8{
width: 58.33333333%;
float:left;
}

.col-sm-12{
width: 100%;
float:left;
}

.col-sm-5 {
    width: 41.66666667%;
	float: left;
}

}



@media only screen and (min-width:992px){
.container {
    width: 970px;
}

.col-md-2 {
    width: 16.66666667%;
	float: left;
}

.col-md-1 {
    width: 8.33333333%;
	float: left
}

.col-md-3 {
    width: 25%;
	float: left;
}

.col-md-6 {
    width: 50%;
	float: left;
	
}

}


@media only screen and (min-width:1200px){
.container {
    width: 1170px;
}
}

@media only screen and (min-width:1200px){
.col-lg-6 {
    width: 50%;
	float:left;
}
}

input[type="button"]
{
	cursor:pointer;
}