@font-face {
    font-family: 'herr_von_muellerhoffregular';
    src: url("../assets/fonts/herrvonmuellerhoff-regular-webfont.woff2") format('woff2'),
         url("../assets/fonts/herrvonmuellerhoff-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto-regular-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}


* {
	margin:0px;
	padding:0px;
}





#page{
	display:none;
	box-sizing:border-box;
	padding:12px;
	font-family:Roboto,sans-serif;
	
}



@media screen and (min-height: 684px){
    
}

a{
	text-decoration:none;
	text-align:center;
	outline:none;
	color:white;
}


#header{
position: fixed;
width: 100%;
left: 0;
top: 0;
background-image: url(../assets/images/img3.png);
padding-top: 70px;
padding-bottom: 25px;
opacity:1;
display:block;
z-index:30;


}

#header #innercontent ul {
    list-style-type: none;
    overflow: hidden;
}

#header  #innercontent ul li {
    float: left;
	
}




.mainlink {
    text-decoration: none;
    position: absolute;
	color:#262526;
    width: 193px;
    height: 45px;
    text-align: center;
    background-image: url(../assets/images/img4.png);
    line-height: 46px;
    font-size: 26px;

}
li #link1 {
	left:50%;
	margin-left:-472px;
	top:24px;
	
}

li  #link2 {
	left:50%;
	margin-left:-276px;
	top:24px;
	
}


li #link3 {
	
	position: absolute;
	text-align: center;
	left:50%;
	margin-left:-80px;
	top:0px;
	
}

li #link4 {
	left:50%;
	margin-left:80px;
	top:24px;
	
}

li #link5 {
	left:50%;
	margin-left:280px;
	top:24px;
	cursor:pointer;
	
}




.bgimg1{
	
	margin-top:7%;
    /* The image used */
    background-image: url("../assets/images/img11.jpg");
    height:40%;
    /* Set a specific height */
    min-height: 300px;
	margin-bottom:100px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
	
}

#headerbox{
	position:absolute;
	 top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em;
	text-align:center;
}
   
.headline {
    position: relative;
    font-size: 80px;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: none;
    padding: 0 72px;
    margin: 0 -72px;
    color: #fff;
}    




.sign-up-btn{
	
    border-radius: 6px;
    background: #323232;
    font-size: 12px;
    line-height: 50px !important;
    color: #fff;	
	text-transform: uppercase;
	height: 50px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;
    cursor:pointer;
}


.col-sm-6{
	width: 50%;
	float:left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
	
}

.facebook-btn{
    line-height: 50px !important;
    background: #3b5999;
    color: #fff;
    padding: 0 34px;
	border-radius: 6px;
	display: block;
    width: 100%;
	margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
     border: 1px solid transparent;
     cursor:pointer;
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}











/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -75px 0 0 -75px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid black;
  
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.footer{
    background-image: url(../assets/images/img20.jpg);
    color: white;
	display:inline-block;
	width:100%;
	
	
	
}

.Footerbutton1 {
    background-color: white;
    border: 1px solid #5A1A0C;
    border-radius: 25px;
    color: #3b5998;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

.Footerbutton2 {
    background-color: white;
    border: 1px solid #5A1A0C;
    border-radius: 25px;
    color: #FF0202;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.Footerbutton3 {
    background-color: white; 
    border: 1px solid #5A1A0C;
    border-radius: 25px;
    color: #00aced;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.footercontent{
	margin:0 auto;
	width:80%;
	margin-top:2%;
	margin-bottom:2%;
	
}
.col{
	
	float:left;
	width:25%;
	min-height:1px;
	margin-bottom:5%;
	margin-top:5%;
}



.section{
	
	height:auto;
	padding:20px;
	display:block;
}







/*Black Menu*/

.black-menu {
    background-color: #323232;
    padding: 5px 10px;
    margin: 0 auto;
    min-height: 60px;
    height: auto;
    color: #fff;
   /*z-index: 999 !important;*/

}

section{
    display: block;
}


@media only screen and (min-width:1200px){
.container {
    width: 1170px;
}
}

@media only screen and (min-width:768px){
.container {
    width: 750px;
}
}


@media only screen and (min-width:992px){
.container {
    width: 970px;
}
}

.container{
    padding-right: 15px;
    padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-right:auto;
}

.col-lg-6 {
    padding-left: 0;
    padding-right: 0;
	position:relative;
	min-height:1px;
}


@media only screen and (min-width:1200px){
.col-lg-6 {
    width: 50%;
	float:left;
}
}

@media only screen and (min-width:768px){
.col-sm-6 {
    width: 50%;
	float:left;
}
}

.black-menu .location-icon-white {
    background: url("../assets/images/location.svg") no-repeat;
	width: 20px;
    height: 25px;
    float: left;
    margin: 15px 20px 0 0;
}

.black-menu .location {
    width: 55%;
    border-right: 1px solid #3f3f3f;
    margin-top: 12px;
    float: left;
    line-height: 25px;
}

.locality-ellipsis {
    width: 70%;
    white-space: nowrap;
    float: left;
}
.locality-ellipsis, .location-not-proper-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}


.widthlocality {
    width: 30%;
    float: right;
}

.black-menu .edit-btn {
    background: 0 0;
    float:right;
    margin-right:10px;
    color: #fff;
    font-size: 12px;
	text-transform: uppercase;
	cursor:pointer;
	border:0;
	line-height:inherit;
	font-family:inherit;
	
}

.black-menu .filter-icon-white {
    width: 21px;
    height: 21px;
    margin: 15px 0 15px 15px;
    position: relative;
    float: left;
    color: #000;
    z-index: 3;
}

.filter-icon-white button {
    background: 0 0 !important;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
	margin:0;
	overflow:visible;
	cursor:pointer;
	font: inherit;
	color: inherit;
	
}

.dropdown-menu {
    background: rgba(255,255,255,.6);
	padding: 0;
	outline: 0;
	top: 185%;
    left: -20px;
    transition: background-color .25s ease;
	position: absolute;
	z-index: 1000;
	display: none;
	min-width: 160px;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	float:left;
}


.pull-right{
	float: right !important;
}

.black-menu .circle {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    color: #323232;
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    top: 5px;
    right: -6px;
    text-align: center;
}

.black-menu .check-out {
    background: #e13636;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 15px;
    float: right;
    margin-top: 10px;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	display:block;
	border-radius: 3px;
	font-family: inherit;
    line-height: inherit;
	
}


.price-outer {
    width: 110px;
    float: right;
}

.black-menu .price {
    width: 110px;
    height: 71px;
    position: absolute;
    top: -9px;
    right: 125px;
    background: url("../assets/images/img23.png") no-repeat;
    text-align: center;
    line-height: 65px;
    color: #323232;
    font-size: 18px;
    font-weight: 500;
	box-sizing:border-box;
}

.black-menu .input-locality-search {
    background: 0 0;
    border: none;
    border-bottom: 1px solid #585858;
    float: left;
    width: 65%;
    padding-left: 10px;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color:inherit;
	margin:0;
	
}

.ng-hide{
	
	display:none;
}


/* Search Snippet*/

.search-snippet-card
{
width: 100%;
margin-top: 12.25px;
margin-bottom: 7px;
min-height: 0;
background: #FFF;
padding: 0;
border: 1px solid #e7e7e7;
border-radius: .28571429rem;
box-shadow: none;
flex-direction: column;
max-width: 100%;
position: relative;
float: none;
display: -webkit-box;
display: -moz-box;
display: flex;
}

.content{
background: 0 0;
margin: 0;
padding: 1em;
box-shadow: none;
font-size: 1em;
flex-grow: 1;
border: none;
-webkit-box-flex: 1;
-moz-box-flex: 1;
-ms-flex-positive: 1;
border-radius: .28571429rem .28571429rem 0 0 !important;
border-top: none !important;
box-sizing: inherit;
}

.js-search-result{
box-sizing: inherit;
}

.search-result{

display: block;

}

.pos-relative {
    position: relative;
    
    box-sizing: inherit;
}
    
.row {
    margin-left: -10px;
    margin-right: -10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col-smj-6 {
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
        position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.search-left-featured{
width: 100%;
-moz-box-sizing: border-box;
box-sizing: border-box;
float: left;
position: relative;
min-height: 88px;
}


.feat-img {
    background-image: url("https://b.zmtcdn.com/data/pictures/8/35658/5a2df4c494b1f0c26a5445dfa6057b24_featured_v2.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A");
    background-repeat: repeat;
    display: block;
	width: 96%;
	    background: 0 0;
    color: #33373D;
    text-decoration: none;
	position: absolute;
bottom: 2px;
top: 0;
right: 0;
left: 0;
background-size: cover;
background-position: center center;
border-radius: 4px;
cursor: pointer;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;

}

.pl0 {
    padding-left: 0;
width: 75%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
float: left;
position: relative;
min-height: 1px;
padding-right: 10px;
	}

	.row {
    margin-left: -10px;
    margin-right: -10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row::before {
    content: " ";
    display: table;
}

.col-s-12 {
    width: 75%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	float: left;
	position: relative;
min-height: 1px;
padding-left: 10px;
padding-right: 10px;
}

.res-snippet-small{
	
	    margin-bottom: 7px;
line-height: 7px;
margin-top: 5px;
}

.result-title{
background: 0 0;
color: #cb202d;
font-size: 24px;
text-decoration: none;
line-height: 22px;
font-weight: 700;
cursor: pointer;
-webkit-transition: color .1s ease;
}

.clear {
    clear: both;
}

.zdark{
	
	background: 0 0;
    text-decoration: none;
	text-transform: uppercase;
    letter-spacing: .01em;
	color: #89959B;
	font-size: 11px;
	cursor: pointer;
	-webkit-transition: color .1s ease;
transition: color .1s ease;
}

.search-page-text{
-webkit-transition: color .1s ease;
transition: color .1s ease;
cursor: pointer;
font-size: 14px;
line-height: 22px;
color: #33373D;
margin-right: 10px;
float: left;
background: 0 0;
text-decoration: none;
}

.search-result-rating
{
	
	text-align: right;
	width: 25%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
float: left;
position: relative;
min-height: 1px;
padding-left: 10px;
padding-right: 10px;
}

.search-result-rating::before {
    content: " ";
    display: table;
	
}

.rating-popup {
    color: #fff;
    cursor: default;
    border-radius: 4px;
    font-size: 16px;
    height: 25px;
    line-height: 23px;
    text-align: center;
    width: 36px;
    margin: 0 auto;
	font-weight: 700;
	float: right;
	    background: #5BA829;
    border-color: #5BA829 !important;

}

.clearmb5 {
    margin-bottom: 5px;
	clear: both;
}

.rating-votes-div{
    font-size: 12px;
	color: #89959B;
}

.result-reviews{
background: 0 0;
text-decoration: none;
float: right;
color: #89959B;
font-size: 12px;
cursor: pointer;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
}

.result-reviews:after{
	clear: both;
	    content: " ";
    display: table;
}

.row{
    margin-left: -10px;
    margin-right: -10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row:before {
    content: " ";
    display: table;
}

.row:after{
	clear: both;
	    content: " ";
    display: table;
}

.search-result-address{
	
	
	overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
color: #89959B;
width: 100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
float: left;
position: relative;
min-height: 1px;
padding-left: 10px;
padding-right: 10px;
}

.search-result-address:after{
	clear: both;
	    content: " ";
    display: table;
}

.ui-divider{
border-top: 1px solid #e7e7e7;
border-bottom: 1px solid rgba(255,255,255,.1);
margin: .7rem 0;
line-height: 1;
height: 0;
font-weight: 700;
text-transform: uppercase;
letter-spacing: .05em;
color: rgba(0,0,0,.85);
font-size: 1rem;
}

.search-page-clearfix{
margin-left: -10px;
margin-right: -10px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.search-page-clearfix::before {
    content: " ";
    display: table;
	
}

.search-page-clearfix::before {
    content: " ";
    display: table;
}


.ttuper-grey-text {
    font-size: 12px;
	color: #89959B;
	text-transform: uppercase;
letter-spacing: .01em;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}



@media only screen and (min-width:641px){
.ttuper-grey-text{
  width: 25%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
float:left;
}
}

.nowrap-p10 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding-left: 0;
	position: relative;
min-height: 1px;
padding-right: 10px;
   

}


@media only screen and (min-width:641px){
.nowrap-p10{
  width: 25%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
float:left;
}
}

.cuisine-title{
	
	color:#33373D;
}