

@font-face {
    font-family: 'herr_von_muellerhoffregular';
    src: url("../assets/fonts/herrvonmuellerhoff-regular-webfont.woff2") format('woff2'),
         url("../assets/fonts/herrvonmuellerhoff-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/roboto-regular-webfont.woff') format('woff'),
         url('../assets/fonts/roboto-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

* {
	margin:0px;
	padding:0px;
}





#page{
	display:none;
	box-sizing:border-box;
	padding:12px;
	font-family:Roboto,sans-serif;
	background: #F3F3F3;
	
}



@media screen and (min-height: 684px){
    
}

a{
	text-decoration:none;
	text-align:center;
	outline:none;
	color:white;
}


#header{
position: fixed;
width: 100%;
left: 0;
top: 0;
background-image: url(../assets/images/img3.png);
padding-top: 70px;
padding-bottom: 25px;
opacity:1;
display:block;
z-index:30;


}

#header #innercontent ul {
    list-style-type: none;
    overflow: hidden;
}

#header  #innercontent ul li {
    float: left;
	
}




.mainlink {
    text-decoration: none;
    position: absolute;
	/*color:#262526;*/
	color: #85171a;
    width: 193px;
    height: 45px;
    text-align: center;
    background-image: url(../assets/images/img4.png);
    line-height: 46px;
    font-size: 26px;

}


.mainlink:hover{
	
	color:#fff;
background: url(../assets/images/img4.png) 0px 45px;
	
}



li #link1 {
	left:50%;
	margin-left:-472px;
	top:24px;
	
}

li  #link2 {
	left:50%;
	margin-left:-276px;
	top:24px;
	
}


li #link3 {
	
	position: absolute;
	text-align: center;
	left:50%;
	margin-left:-80px;
	top:0px;
	
}

li #link4 {
	left:50%;
	margin-left:80px;
	top:24px;
	
}

li #link5 {
	left:50%;
	margin-left:280px;
	top:24px;
	cursor:pointer;
	
}


li #linkw {
	left:50%;
	margin-left:280px;
	top:24px;
	cursor:pointer;
	
}



/* Menu signin*/
#box-signin {
    list-style: outside none none;
    width: 186px;
    right: 79px;
    border-radius: 20px;
    position: absolute;
    top: 98px;
    z-index: 100;
    background-color: #FFF;
    display: none;
    overflow: hidden;
    box-shadow: 0px 0px 29px rgba(46, 46, 46, 0.29);
}

#box-signin li{
    float: left;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

#box-signin a {
    text-align: left;
    margin: 3px 0px 3px 16px;
    display: block;
    color: inherit;
    outline: medium none;
    text-decoration: none;
}

#box-signin li:hover{
	color: #85171a;
}

#box-signin i {
    padding-right: 5px;
    margin: auto;
    border:medium none;
}


.icon-link img{
margin: 14px 0px 0px 12px;
float: left;
margin-top: 15px !important;
border: medium none;
}


.icon-link{
top: 24px;
transition: top 0.5s ease 0s;
background-position: center bottom !important;
right: 8%;
margin-left: -416px;
    background-image: url("../assets/images/img28.png");
    width: 46px;
    height: 45px;
    display: block;
    position: absolute;
    cursor:pointer;
}


.bgimg1{
	
	margin-top:7%;
    /* The image used */
    background-image: url("../assets/images/img11.jpg");
    height:40%;
    /* Set a specific height */
    min-height: 300px;
	margin-bottom:100px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
	
}

#headerbox{
	position:absolute;
	 top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em;
	text-align:center;
}
   
.headline {
    position: relative;
    font-size: 80px;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: none;
    padding: 0 72px;
    margin: 0 -72px;
    color: #fff;
}    




.sign-up-btn{
	
    border-radius: 6px;
    background: #323232;
    font-size: 12px;
    line-height: 50px !important;
    color: #fff;	
	text-transform: uppercase;
	height: 50px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;
    cursor:pointer;
}


.col-sm-6{
	width: 50%;
	float:left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
	
}

.facebook-btn{
    line-height: 50px !important;
    background: #3b5999;
    color: #fff;
    padding: 0 34px;
	border-radius: 6px;
	display: block;
    width: 100%;
	margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
     border: 1px solid transparent;
     cursor:pointer;
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}











/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 50px;
  height: 50px;
  margin: -75px 0 0 -75px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid black;
  
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.footer{
    background-image: url(../assets/images/img20.jpg);
    color: white;
	display:inline-block;
	width:100%;
	
	
	
}

.Footerbutton1 {
    background-color: white;
    border: 1px solid #5A1A0C;
    border-radius: 25px;
    color: #3b5998;
    text-decoration: none;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}

.Footerbutton2 {
    background-color: white;
    border: 1px solid #5A1A0C;
    border-radius: 25px;
    color: #FF0202;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.Footerbutton3 {
    background-color: white; 
    border: 1px solid #5A1A0C;
    border-radius: 25px;
    color: #00aced;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.footercontent{
	margin:0 auto;
	width:80%;
	margin-top:2%;
	margin-bottom:2%;
	
}
.col{
	
	float:left;
	width:25%;
	min-height:1px;
	margin-bottom:5%;
	margin-top:5%;
}



.section{
	
	height:auto;
	padding:20px;
	display:block;
}







/*Black Menu*/

.black-menu {
    background-color: #323232;
    padding: 5px 10px;
    margin: 0 auto;
    min-height: 60px;
    height: auto;
    color: #fff;
   /*z-index: 999 !important;*/

}

section{
    display: block;
}


@media only screen and (min-width:1200px){
.container {
    width: 1170px;
}
}

@media only screen and (min-width:768px){
.container {
    width: 750px;
}
}


@media only screen and (min-width:992px){
.container {
    width: 970px;
}
}

.container{
    padding-right: 15px;
    padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-right:auto;
}

.col-lg-6 {
    padding-left: 0;
    padding-right: 0;
	position:relative;
	min-height:1px;
}


@media only screen and (min-width:1200px){
.col-lg-6 {
    width: 50%;
	float:left;
}
}

@media only screen and (min-width:768px){
.col-sm-6 {
    width: 50%;
	float:left;
}
}

.black-menu .location-icon-white {
    background: url("../assets/images/location.svg") no-repeat;
	width: 20px;
    height: 25px;
    float: left;
    margin: 15px 20px 0 0;
}

.black-menu .location {
    width: 55%;
    border-right: 1px solid #3f3f3f;
    margin-top: 12px;
    float: left;
    line-height: 25px;
}

.locality-ellipsis {
    width: 70%;
    white-space: nowrap;
    float: left;
}
.locality-ellipsis, .location-not-proper-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}


.widthlocality {
    width: 30%;
    float: right;
}

.black-menu .edit-btn {
    background: 0 0;
    float:right;
    margin-right:10px;
    color: #fff;
    font-size: 12px;
	text-transform: uppercase;
	cursor:pointer;
	border:0;
	line-height:inherit;
	font-family:inherit;
	
}

.black-menu .filter-icon-white {
    width: 21px;
    height: 21px;
    margin: 15px 0 15px 15px;
    position: relative;
    float: left;
    color: #000;
    z-index: 3;
}

.filter-icon-white button {
    background: 0 0 !important;
    border: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
	margin:0;
	overflow:visible;
	cursor:pointer;
	font: inherit;
	color: inherit;
	
}

.dropdown-menu {
    background: rgba(255,255,255,.6);
	padding: 0;
	outline: 0;
	top: 185%;
    left: -20px;
    transition: background-color .25s ease;
	position: absolute;
	z-index: 1000;
	display: none;
	min-width: 160px;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	float:left;
}


.pull-right{
	float: right !important;
}

.black-menu .circle {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    color: #323232;
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    top: 5px;
    right: -6px;
    text-align: center;
}

.black-menu .check-out {
    background: #e13636;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 15px;
    float: right;
    margin-top: 10px;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	display:block;
	border-radius: 3px;
	font-family: inherit;
    line-height: inherit;
	
}


.price-outer {
    width: 110px;
    float: right;
}

.black-menu .price {
    width: 110px;
    height: 71px;
    position: absolute;
    top: -9px;
    right: 125px;
    background: url("../assets/images/img23.png") no-repeat;
    text-align: center;
    line-height: 65px;
    color: #323232;
    font-size: 18px;
    font-weight: 500;
	box-sizing:border-box;
}

.black-menu .input-locality-search {
    background: 0 0;
    border: none;
    border-bottom: 1px solid #585858;
    float: left;
    width: 65%;
    padding-left: 10px;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color:inherit;
	margin:0;
	
}

.ng-hide{
	
	display:none;
}


/* Search Snippet*/

.search-snippet-card
{
width: 100%;
margin-top: 12.25px;
margin-bottom: 7px;
min-height: 0;
background: #FFF;
padding: 0;
border: 1px solid #e7e7e7;
border-radius: .28571429rem;
box-shadow: none;
flex-direction: column;
max-width: 100%;
position: relative;
float: none;
display: -webkit-box;
display: -moz-box;
display: flex;
}

.content{
background: 0 0;
margin: 0;
padding: 1em;
box-shadow: none;
font-size: 1em;
flex-grow: 1;
border: none;
-webkit-box-flex: 1;
-moz-box-flex: 1;
-ms-flex-positive: 1;
border-radius: .28571429rem .28571429rem 0 0 !important;
border-top: none !important;
box-sizing: inherit;
}

.js-search-result{
box-sizing: inherit;
}

.search-result{

display: block;

}

.pos-relative {
    position: relative;
    
    box-sizing: inherit;
}
    
.row {
    margin-left: -10px;
    margin-right: -10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col-smj-6 {
    width: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
        position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.search-left-featured{
width: 100%;
-moz-box-sizing: border-box;
box-sizing: border-box;
float: left;
position: relative;
min-height: 88px;
}


.feat-img {
    background-image: url("https://b.zmtcdn.com/data/pictures/8/35658/5a2df4c494b1f0c26a5445dfa6057b24_featured_v2.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A");
    background-repeat: repeat;
    display: block;
	width: 96%;
	    background: 0 0;
    color: #33373D;
    text-decoration: none;
	position: absolute;
bottom: 2px;
top: 0;
right: 0;
left: 0;
background-size: cover;
background-position: center center;
border-radius: 4px;
cursor: pointer;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;

}


.p10 {
    padding-left: 0;
position: relative;
min-height: 1px;
padding-right: 10px;
	}


@media only screen and (min-width:641px){
.p10 {
width: 75%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
float: left;

	}
}

	.row {
    margin-left: -10px;
    margin-right: -10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row::before {
    content: " ";
    display: table;
}

.col-s-12 {
    width: 75%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	float: left;
	position: relative;
min-height: 1px;
padding-left: 10px;
padding-right: 10px;
}

.res-snippet-small{
	
	    margin-bottom: 7px;
line-height: 7px;
margin-top: 5px;
}

.result-title{
background: 0 0;
color: #cb202d;
font-size: 24px;
text-decoration: none;
line-height: 22px;
font-weight: 700;
cursor: pointer;
-webkit-transition: color .1s ease;
}

.clear {
    clear: both;
}

.zdark{
	
	background: 0 0;
    text-decoration: none;
	text-transform: uppercase;
    letter-spacing: .01em;
	color: #89959B;
	font-size: 11px;
	cursor: pointer;
	-webkit-transition: color .1s ease;
transition: color .1s ease;
}

.search-page-text{
-webkit-transition: color .1s ease;
transition: color .1s ease;
cursor: pointer;
font-size: 14px;
line-height: 22px;
color: #33373D;
margin-right: 10px;
float: left;
background: 0 0;
text-decoration: none;
}

.search-result-rating
{
	
	text-align: right;
	width: 25%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
float: left;
position: relative;
min-height: 1px;
padding-left: 10px;
padding-right: 10px;
}

.search-result-rating::before {
    content: " ";
    display: table;
	
}

.rating-popup {
    color: #fff;
    cursor: default;
    border-radius: 4px;
    font-size: 16px;
    height: 25px;
    line-height: 23px;
    text-align: center;
    width: 36px;
    margin: 0 auto;
	font-weight: 700;
	float: right;
	    background: #5BA829;
    border-color: #5BA829 !important;

}

.clearmb5 {
    margin-bottom: 5px;
	clear: both;
}

.rating-votes-div{
    font-size: 12px;
	color: #89959B;
}

.result-reviews{
background: 0 0;
text-decoration: none;
float: right;
color: #89959B;
font-size: 12px;
cursor: pointer;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
}

.result-reviews:after{
	clear: both;
	    content: " ";
    display: table;
}

.row{
    margin-left: -10px;
    margin-right: -10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row:before {
    content: " ";
    display: table;
}

.row:after{
	clear: both;
	    content: " ";
    display: table;
}

.search-result-address{
	
	
	overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
color: #89959B;
width: 100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
float: left;
position: relative;
min-height: 1px;
padding-left: 10px;
padding-right: 10px;
}

.search-result-address:after{
	clear: both;
	    content: " ";
    display: table;
}

.ui-divider{
border-top: 1px solid #e7e7e7;
border-bottom: 1px solid rgba(255,255,255,.1);
margin: .7rem 0;
line-height: 1;
height: 0;
font-weight: 700;
text-transform: uppercase;
letter-spacing: .05em;
color: rgba(0,0,0,.85);
font-size: 1rem;
}

.search-page-clearfix{
margin-left: -10px;
margin-right: -10px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.search-page-clearfix::before {
    content: " ";
    display: table;
	
}

.search-page-clearfix::before {
    content: " ";
    display: table;
}


.clearfix::before{
	
	content: " ";
display: table;
	
}

.ttuper-grey-text {
    font-size: 12px;
	color: #89959B;
	text-transform: uppercase;
letter-spacing: .01em;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;

}



@media only screen and (min-width:641px){
.ttuper-grey-text{
  width: 25%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
float:left;
}
}

.nowrap-p10 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	padding-left: 0;
	position: relative;
min-height: 1px;
padding-right: 10px;
   

}


@media only screen and (min-width:641px){
.nowrap-p10{
  width: 75%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
float:left;
}
}

.cuisine-title{
	
	color:#33373D;
}

@media only screen and (min-width:641px){
.res-cost-clearfix{
    margin-top: 3px;

}
}

.col-s-p10{
    padding-left: 0px;
position: relative;
min-height: 1px;
padding-right: 10px
}

@media only screen and (min-width:641px){
.col-s-p10{
width: 75%;
box-sizing: border-box;
float:left;
}
}

.res-timing{
    margin-top: 3px;

}

.left{
float:left;
}

.search-grid-right{

    padding-left: 0px;
position: relative;
min-height: 1px;
padding-right: 10px;
}

@media only screen and (min-width:641px){
.search-grid-right{
width: 75%;
box-sizing: border-box;
float: left;
}
}

.search-result-action{
    border-top: 1px solid #E7E7E7;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-left: 0px none !important;
    border-right: 0px none !important;
    border-bottom: 0px none !important;
    background-color: #FDFDFD !important;
	border-radius: 0px 0px 0.285714rem 0.285714rem !important;
width: 100%;
padding-left: 0px !important;
padding-right: 0px !important;
margin-left: 0px !important;
margin-right: 0px !important;
text-align: center;
-moz-box-pack: center;
justify-content: center;
margin-bottom: 0px;
font-size: 1rem;
display: flex;
font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
background: #FFF none repeat scroll 0% 0%;
font-weight: 400;
box-shadow: none;
min-height: 58px;
    margin-top: 0px !important;

}

.item-res-snippet{
width: 25%;
padding-left: 0px !important;
padding-right: 0px !important;
margin-left: 0px !important;
margin-right: 0px !important;
text-align: center;
-moz-box-pack: center;
justify-content: center;
display: flex;
-moz-box-align: center;
align-items: center;
cursor: pointer;
position: relative;
vertical-align: middle;
line-height: 1;
text-decoration: none;
-moz-box-flex: 0;
flex: 0 0 auto;
-moz-user-select: none;
background: transparent none repeat scroll 0px 0px;
padding: 13px 28px;
text-transform: none;
color: #33373D;
font-weight: 400;
transition: #F2F1F0 0.1s ease 0s, box-shadow 0.1s ease 0s, color 0.1s ease 0s;

}

.item-res-snippet::before {
    position: absolute;
    content: "";
    top: 0px;
    right: 0px;
    height: 100%;
    width: 1px;
    background: #E7E7E7 none repeat scroll 0% 0%;
}

.zdark{
color: #595C60;
font-weight: 700;
    font-size: 14px;
}


.item-result-menu{
width: 25%;
padding-left: 0px !important;
padding-right: 0px !important;
margin-left: 0px !important;
margin-right: 0px !important;
text-align: center;
justify-content: center;
display: flex;
-moz-box-align: center;
align-items: center;
cursor: pointer;
position: relative;
vertical-align: middle;
line-height: 1;
text-decoration: none;
-moz-box-flex: 0;
flex: 0 0 auto;
-moz-user-select: none;
background: transparent none repeat scroll 0px 0px;
text-transform: none;
color: #33373D;
font-weight: 400;
transition: #F2F1F0 0.1s ease 0s, box-shadow 0.1s ease 0s, color 0.1s ease 0s;
}

.item-book-test{
	
	
	width: 25%;
	padding-left: 0 !important;
padding-right: 0 !important;
margin-left: 0 !important;
margin-right: 0 !important;
text-align: center;
-moz-box-pack: center;
justify-content: center;
display: -webkit-box;
display: -moz-box;
display: flex;
-webkit-box-align: center;
-moz-box-align: center;
-ms-flex-align: center;
align-items: center;
cursor: pointer;
position: relative;
vertical-align: middle;
line-height: 1;
text-decoration: none;
background: 0 0;
padding: 13px 28px;
color: #33373D;
font-weight: 400;
transition: background .1s ease,box-shadow .1s ease,color .1s ease;
}

.data-book{
	
	color: #00aacd !important;
}



/*Search snippet end*/





/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top:50px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    box-shadow: none;
    border-radius: 6px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
	width:600px;
	border: 1px solid #d4d4d4;
	
}

#sign-up-button{

cursor:pointer;
}

#sign-in-button{

cursor:pointer;
}

.panel-signin {padding: 2px 16px;}





.modal-content .panel-signin h2{
	
	text-align: center;
	font-weight: 300;
	    font-size: 30px;
}

.modalinput {
    border: none;
    outline: 0;
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    background: 0 0;
    z-index: 2;
    border-bottom: 1px solid #e2e2e2;
    line-height: 70px;
	font-size:14px;
	height:50px;
	margin: 0;
	padding: 0;
	width: 100%;
	font:inherit;
	color:inherit;
}

.panel-signin .floating-placeholder label {
    display: block;
    position: absolute;
    top: 5px;
    font-weight: 400;
    font-size: 14px;
    z-index: 1;
    transform-origin: 0 0;
    transition: transform 190ms,color .2s;
    transform: scale(1,1) rotateY(0);
    color: #ccc;
	max-width:100%;
	margin-bottom:5px;
	
}

.error-text {
    color: #dd4c39;
    font-size: 11px;
	display:none;
}


.pull-left {
    float: left;
	text-align: left;
	font-size: 14px;
	color: #323232;
}


.css-checkbox[type="checkbox"] {
    position: absolute;
    
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
	font-size: 14px;
	line-height: 60px;
	font-weight:400;
}

.css-label {
    background-position: 0 -18px;
	padding-left: 35px;
	height: 18px;
	display: inline-block;
	line-height: 18px;
	background-repeat: no-repeat;
	font-size: 13px;
	vertical-align: middle;
	cursor: pointer;
	font-weight: 400;
	color: #aeaeae;
	background-image: url("assets/images/img24.png") !important;
}

.pull-right {
    float: right !important;
	text-align: right;
	font-size: 14px;
    color: #323232;

}

.pull-right a{
	
	color: #6b6b6b;
text-decoration: none;
font-size: 12px;
	
}


.pull-right a:hover {
    color: #2493da;
}


.col-sm-12{
	
	width: 100%;
	float:left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}


.or {
    font-size: 16px;
	font-style:italic;
	text-align:center;
	
}

.sign-up-btn{
	
    border-radius: 6px;
    background: #323232;
    font-size: 12px;
    line-height: 50px !important;
    color: #fff;	
	text-transform: uppercase;
	height: 50px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid transparent;
    cursor:pointer;
}


.col-sm-6{
	width: 50%;
	float:left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
	
}

.facebook-btn{
    line-height: 50px !important;
    background: #3b5999;
    color: #fff;
    padding: 0 34px;
	border-radius: 6px;
	display: block;
    width: 100%;
	margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
     border: 1px solid transparent;
     cursor:pointer;
}

.google-btn{
    line-height: 50px !important;
    background: #dd4c39;
    color: #fff;
    padding: 0 34px;
	border-radius: 6px;
	display: block;
    width: 100%;
	margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
     border: 1px solid transparent;
     cursor:pointer;
}





/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 21px;
    font-weight: bold;
	background: 0 0;
	border: 0;
	padding:0;
	position:absolute;
	float:right;
	right: 30px;
	top: 30px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.panel-signin .floating-placeholder {
    position: relative;
    font-size: 14px;
    line-height: 60px;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 400;

}

.clearfix::before{
display: table;
content: " ";
}

.clearfix::after{
clear:both;
display: table;
content: " ";
}

.space-15 {
	width: 100%;
	height: 15px;
	margin: 0 auto;
}

.space-20{

    width: 100%;
    height: 20px;
	margin:0 auto;
	
}

.space-50 {
    width: 100%;
    height: 50px;
	margin:0 auto;
}

.col-sm-12{
	
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}


.panel-signin .new-member {
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    font-weight: 300;
    color: #9b9b9b;
    padding: 30px 0;
    margin-bottom: 30px;
	text-align:center;
}


.panel-signin p{
    font-size: 14px;
    color: #6b6b6b;
    text-align: center;
    padding: 2px 0 0;
    margin: 0;
	font-style:italic;
}

.panel-signin .new-member a {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
	color: #2493da;
}
